.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.title {
  font-size: 24px;
  color: #fff;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1.5fr 1.5fr 1fr 1.5fr;
  row-gap: .5rem;
  column-gap: .5rem;
  width: 100%;
  max-width: 800px;
}

.header {
  display: contents;
  font-weight: bold;
  color: #ccc;
}

.playerList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
