@import 'shared/theme/variables';

.chatHeader {
}

.tabs {
  margin-bottom: .5rem;
  width: 100%;
  * {
    font-size: .5rem;
  }
}

.listContainer {
  position: relative;
}

.listPositionContainer {
  position: absolute;
  width: 100%;
  left: 0;
  top: 1rem;
}

.list {
  width: 17rem;
  margin: auto;
  padding: 1rem;
  background-color: var(--background-paper);
  border-radius: 1rem;
}

.roomTitle {
  font-size: 1.3rem;
  line-height: 1.3rem;
  margin-bottom: .5rem;
}
