@import 'shared/theme/variables';

.userItem {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.nickname {
  display: inline-block;
  &:hover {
    &:not(.me) {
      opacity: .8;
      cursor: pointer;
    }
  }
}

.me {
  color: var(--me);
  font-weight: 700;
}

.copyButton {
  color: var(--text-primary);
  border: none;
  background: none;
  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
  &:active {
    color: var(--me);
  }
}

.copyIcon {
  height: 1rem;
  color: red !important;
}
