@import 'shared/theme/variables';

.nameOfRoom {
  cursor: pointer;
  line-height: 1.5;
  margin-bottom: .2rem;
  &:hover  {
    &:not(.currentRoom) {
      opacity: 0.6;
    }
  }
}

.currentRoom {
  font-weight: bold;
  color: var(--me);
}

.roomItem {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.addUserForm {
  position: absolute;
  left: 0;
  z-index: 1;
  background-color: var(--background-default);
  padding: .5rem;
}

.controlButton {
  background-color: transparent;
  border: none;
  margin-right: .1rem;
  padding: .2rem;
  &:hover {
    cursor: pointer;
    opacity: .7;
  }
}

.icon {
  height: 1rem;
}
