.header {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 1rem;
  user-select: none;
 z-index: 1
}

.logo {
  height: 2rem;
}

.authButtons {
  display: flex;
  height: 2rem;
  gap: 1rem;
  width: 12rem;
}
