.header {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 1rem;
  background-color: #171c26;
  box-shadow: 0px 3px 1px 0px #0000009d;
}
.logo {
  height: 2rem;
}
