.row {
  display: contents;
  align-items: center;
  font-size: 16px;
  color: #fff;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}


.stats {
  display: flex;
}

.playerInfo {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.playerIcon {
  border-radius: 50%;
  height: 2rem;
}
